################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/elasticache_auto_discovery
/pymemcache
/redis
/CloudClip.zip
/.vs
/output.txt
